apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../base
  - scc.yaml
  - imagestream.yaml

namespace: logging

patches:
  - path: imagestream-patch.yaml
    target:
      kind: DaemonSet
      name: vector-logs