data_dir: /tmp/vector-{session_id}

sources:
  stdin:
    type: stdin
    decoding:
      codec: "json"

sinks:
  cloudwatch_logs:
    type: aws_cloudwatch_logs
    inputs: ["stdin"]
    region: "{region}"
    group_name: "{log_group}"
    stream_name: "{log_stream}"
    encoding:
      codec: "text"
      only_fields: ["message"]
    auth:
      assume_role: "{customer_role_arn}"
      external_id: "{external_id}"
    batch:
      max_events: 1000
      timeout_secs: 5
    request:
      retry_attempts: 3
      retry_max_duration_secs: 30